.img_block{
  text-align:center;
  margin-bottom:30px;
}
.left_column{
  width:270px;
}
.left_column .block{
  padding:0 30px;
}
.column .block{
  position:relative;  
}
.center_column .block{
  padding-right:30px;
  position:relative;
}
.right_column{
  width: 240px;
}
.right_column .block{
  padding-right:30px;
}
ul.nav li a{
  color:#b3252d;
  line-height:120%;
}
ul.nav li{
  margin-bottom:20px;
  padding:10px 30px;
}
ul.nav li.current{
  background: transparent url('../images/menu-current-bg.gif') repeat-y 0 0;
}
/*NOTATION*/
.notation, .notation .block{
  margin-bottom:20px;
  overflow:hidden;
  zoom:1;
}
.notation .block{
  margin:0 auto;
  margin-top:20px;
  width:470px;
}
.notation ol{
  width:230px;
  float: left;
  list-style: decimal inside none;
  margin-left: 30px;
  width: 40%;
}
.notation h6{
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:9pt;
}
/*WIDE NOTATION*/
.wide_notation{
  margin:auto;
  margin-bottom:20px;
  overflow:hidden;
  zoom:1;
  width:700px;
}
.wide_notation h6{
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:9pt;
  margin-bottom:10px;
}
.wide_notation .items{
  width:30%;
  float:left;
  margin-right:10px;
}
.wide_notation .items p{
  margin-bottom:5px;
}
/*FEATURES*/
.features{
  margin-bottom:70px;
}
.features h3{
  color:#989898;
  margin:0;
  font-weight:normal;
  font-size:8pt;
}
.features p{
  color:black;
  margin-bottom:30px;
  line-height:150%;
}
/*LEFT NOTATION*/
.left_notation{
  position:relative;
  overflow:hidden;
  zoom:1;
}
.left_notation .items{
  position:absolute;
  top:0; left:0;
}
.left_notation .items p{
  margin:0;
}
.left_notation .items h6{
  font-weight:normal;
  text-transform:uppercase;
  text-align:left;
  font-size:9pt;
  margin-bottom:10px;
}
/*EQUIPMENT CATEGORY*/
.equipment_category .item{
  overflow:hidden;
  zoom:1;
}
.equipment_category .item .features{
  margin-left:175px;
}
.equipment_category  h3.title{
  color:black;
  text-align:left;
  background:#FFF url('../images/equipment-title-bg.jpg') no-repeat scroll left 0;
  line-height:27px;
  margin-left:25%;
  padding-left:50px;
}
.equipment_category .item  .features{
  margin-bottom:30px;
}
.equipment_category .item  .features a.to_item{
  color: #676767;
  display: block;
  font-size: 11pt;
  margin: 0 0 10px;
}
.equipment_category .item .features p{
  margin-bottom:10px;
}
.equipment_category .item .preview{
  float:left;
}
/*GRAY BOTTOM BORDER*/
.gray_bottom_border{
  border-bottom: 2px solid #e6e4e4;
  padding:0 0 20px 0;
  margin:0 30px 20px 30px;
}
/*ACTIVITY*/
ul.activity li{
  padding:20px;
  background:#FFF url("../images/activity-li-bottom-border.gif") repeat-x scroll 0 bottom;
}
ul.activity li a{
  color:#ab2d27;
  font-size:12pt;
  display:block;
  background:#FFF url('../images/activity_bullet.jpg') no-repeat;
  padding:0 0 0 100px;
}
/*NEWS LIST*/
ul.news_list{
  background:#f7f6e3;
}
ul.news_list li{
  padding:10px;
  margin:0 15px;
  border-bottom:1px solid white;
}
ul.news_list li.top{
  background:#f7f6e3 url('../images/news-list-top-bg.jpg') no-repeat 0 0;
  padding:15px 0 0 10px;
  border-bottom:none;
  margin:0;
}
ul.news_list li.top h3{
  font-size: 14pt;
  font-weight: normal;
  margin: 0 10px 0 0;
  padding: 0 0 10px 14px;
  text-decoration: underline;
  background:transparent url("../images/news-list-top-zigzag.gif") repeat-x scroll 0 bottom;
}
ul.news_list li.bottom{
  background:#f7f6e3 url('../images/news-list-bottom-bg.jpg') no-repeat right bottom;
  margin:0;
}
ul.news_list li.bottom a{
  color:#af232a;
  display:block;
  font-size:9pt;
  margin:30px 0 0 18px;
}
ul.news_list li p{
  margin-bottom:5px;
}
ul.news_list li p.tumb{
  float:right;
}
ul.news_list li p.date{
  color:#676767;
  font-size:8pt;
  margin-bottom:5px;
}
ul.news_list li a.title{
  color:#af232a;
  font-size: 11pt;
  display:block;
  margin-bottom:10px;
}
/*WORK STAGES*/
.work_stages{
  margin:0 30px;
}
/*HEADER BASE*/
.header_base{
  background: url("../images/header_base.jpg") no-repeat scroll right center #b1252c;
  height:135px;
}
.header_base .header_factory{
position:absolute;
top:0;left:0;
height:135px; width:420px;
background: url("../images/header_factory.jpg") no-repeat scroll right center #b1252c;
}