.img_block{
  text-align:center;
  margin-bottom:30px;
}
.left_column{
  width:270px;
}
.left_column .block{
  padding:0 30px;
}
.column .block{
  position:relative;  
}
.center_column .block{
  padding-right:30px;
  position:relative;
}
.right_column{
  width: 240px;
}
.right_column .block{
  padding-right:30px;
}
ul.nav li a{
  color:#b3252d;
  line-height:120%;
}
ul.nav li{
  margin-bottom:20px;
  padding:10px 30px;
}
ul.nav li.current{
  background: transparent url('../images/menu-current-bg.gif') repeat-y 0 0;
}
/*NOTATION*/
.notation, .notation .block{
  margin-bottom:20px;
  overflow:hidden;
  zoom:1;
}
.notation .block{
  margin:0 auto;
  margin-top:20px;
  width:470px;
}
.notation ol{
  width:230px;
  float: left;
  list-style: decimal inside none;
  margin-left: 30px;
  width: 40%;
}
.notation h6{
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:9pt;
}
/*WIDE NOTATION*/
.wide_notation{
  margin:auto;
  margin-bottom:20px;
  overflow:hidden;
  zoom:1;
  width:700px;
}
.wide_notation h6{
  font-weight:normal;
  text-transform:uppercase;
  text-align:center;
  font-size:9pt;
  margin-bottom:10px;
}
.wide_notation .items{
  width:30%;
  float:left;
  margin-right:10px;
}
.wide_notation .items p{
  margin-bottom:5px;
}
/*FEATURES*/
.features{
  margin-bottom:70px;
}
.features h3{
  color:#989898;
  margin:0;
  font-weight:normal;
  font-size:8pt;
}
.features p{
  color:black;
  margin-bottom:30px;
  line-height:150%;
}
/*LEFT NOTATION*/
.left_notation{
  position:relative;
  overflow:hidden;
  zoom:1;
}
.left_notation .items{
  position:absolute;
  top:0; left:0;
}
.left_notation .items p{
  margin:0;
}
.left_notation .items h6{
  font-weight:normal;
  text-transform:uppercase;
  text-align:left;
  font-size:9pt;
  margin-bottom:10px;
}